# app/symfony/config/services.yaml
parameters:
    app.storage_dir: '%kernel.project_dir%/public'
    app.public_base_url: '%env(resolve:BASE_PUBLIC_URL)%'
    app.gcp.scopes: 'https://www.googleapis.com/auth/cloud-platform'
    app.ffmpeg_work_dir: '%kernel.project_dir%/var/video_work'

services:
    _defaults:
        autowire: true
        autoconfigure: true
        bind:
            $commandBus: '@messenger.bus.command'
            $queryBus: '@messenger.bus.query'

            string $storageDir: '%kernel.project_dir%/public/storage'
            string $publicBaseUrl: '%env(resolve:BASE_PUBLIC_URL)%/storage'
            string $appUrl: '%env(resolve:APP_URL)%'

    Google\Cloud\Storage\StorageClient:
        arguments:
            - { projectId: '%env(GCP_PROJECT_ID)%', keyFilePath: '%env(resolve:GOOGLE_APPLICATION_CREDENTIALS)%' }

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Kernel.php'

    App\Composition\Domain\Port\VideoComposer: '@App\Infrastructure\Composition\Ffmpeg\FfmpegVideoComposer'

    App\Infrastructure\Composition\Ffmpeg\FfmpegVideoComposer:
        arguments:
            $workDir: '%app.ffmpeg_work_dir%'

    App\Task\Domain\Port\VideoTaskRepository: '@App\Task\Infrastructure\Persistence\Doctrine\Repository\DoctrineVideoTaskRepository'
    App\Task\Domain\Port\PartialVideoRepository: '@App\Task\Infrastructure\Persistence\Doctrine\Repository\DoctrinePartialVideoRepository'
