# app/symfony/config/services.yaml
parameters:
    app.storage_dir: '%kernel.project_dir%/public'
    app.public_base_url: '%env(resolve:BASE_PUBLIC_URL)%'
    app.gcp.scopes: 'https://www.googleapis.com/auth/cloud-platform'
    app.ffmpeg_work_dir: '%kernel.project_dir%/var/video_work'

services:
    _defaults:
        autowire: true
        autoconfigure: true
        bind:
            $commandBus: '@messenger.bus.command'
            $queryBus: '@messenger.bus.query'

            string $storageDir: '%kernel.project_dir%/public/storage'
            string $publicBaseUrl: '%env(resolve:BASE_PUBLIC_URL)%/storage'

    Google\Cloud\Storage\StorageClient:
        arguments:
            - { projectId: '%env(GCP_PROJECT_ID)%', keyFilePath: '%env(resolve:GOOGLE_APPLICATION_CREDENTIALS)%' }

    App\Infrastructure\Animation\Veo\GcsStorage:
        arguments:
            $bucketName: '%env(GCP_GCS_BUCKET)%'

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Kernel.php'

    App\Composition\Domain\Port\VideoComposer: '@App\Infrastructure\Composition\Ffmpeg\FfmpegVideoComposer'

    # Local storage
    App\Infrastructure\Animation\Storage\LocalObjectStorage:
        arguments:
            $storageDir: '%app.storage_dir%'
            $publicBaseUrl: '%app.public_base_url%'

    App\Infrastructure\Composition\Ffmpeg\FfmpegVideoComposer:
        arguments:
            $workDir: '%app.ffmpeg_work_dir%'

    # GCP token provider (ADC JSON)
    App\Shared\Infrastructure\Google\GoogleAccessTokenProvider: ~

    App\Animation\Domain\Port\AnimationJobRepository: '@App\Animation\Infrastructure\Persistence\Doctrine\Repository\DoctrineAnimationJobRepository'
    App\Composition\Domain\Port\CompositionJobRepository: '@App\Composition\Infrastructure\Persistence\Doctrine\Repository\DoctrineCompositionJobRepository'

    App\Animation\Domain\Port\VeoAnimator: '@App\Infrastructure\Animation\Veo\GoogleVeoHttpAnimator'
    App\Animation\Domain\Port\ObjectStorage: '@App\Infrastructure\Animation\Storage\LocalObjectStorage'

    # Google Veo config
    App\Infrastructure\Animation\Veo\GoogleVeoConfig:
        arguments:
            $projectId: '%env(GCP_PROJECT_ID)%'
            $location: '%env(GCP_VERTEX_LOCATION)%'
            $modelId: '%env(GCP_VEO_MODEL_ID)%'
            $gcsBucket: '%env(GCP_GCS_BUCKET)%'
